In [1]:
import pandas as pd
from pathlib import Path

In [2]:
#import both files
csv_path = Path("..\Starter_Code\PyCitySchools\Resources\schools_complete.csv")
Schools_df = pd.read_csv(csv_path, encoding="UTF-8")

csv_path = Path("..\Starter_Code\PyCitySchools\Resources\students_complete.csv")
students_df = pd.read_csv(csv_path, encoding="UTF-8")
school_data_complete = pd.merge(students_df, Schools_df, how="left", on=["school_name", "school_name"])
school_data_complete=pd.DataFrame(school_data_complete)
school_data_complete
#students_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
#Total number of unique schools:
print("Total number schools in the district")
school_data_complete['school_name'].nunique()

Total number schools in the district

15

In [4]:
#Total students
print("Total number of students in the district:")
school_data_complete['size'].sum()

Total number of students in the district:

130551930

In [5]:
#Total budget
print("Total budget of the district:")
school_data_complete['budget'].sum()

Total budget of the district:

82932329558

In [6]:
#Average math score
print("Average Math score of the school district")
school_data_complete['math_score'].mean()

Average Math score of the school district

78.98537145774827

In [7]:
#Average reading score
print("Average reading score of the school district")
school_data_complete['reading_score'].mean()

Average reading score of the school district

81.87784018381414

In [8]:
#% passing math (the percentage of students who passed math)
pasing_math=school_data_complete.loc[school_data_complete['math_score']>=70,:]

print("Percentage of passing student for math:")

print(str(round( (float(pasing_math['Student ID'].count()) / float(school_data_complete['Student ID'].count()) *100),2))+"%")

#using student ID because two equal grade

Percentage of passing student for math:
74.98%

In [9]:
#% passing reading (the percentage of students who passed reading)
pasing_english=school_data_complete.loc[school_data_complete['reading_score']>=70,:]
print("Percentage of passing student for readin:")
print(str(round( (float(pasing_english['Student ID'].count()) / float(school_data_complete['Student ID'].count()) *100),2))+"%")

Percentage of passing student for readin:
85.81%

In [10]:
#% overall passing (the percentage of students who passed math AND reading)
passing_all=school_data_complete.loc[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70),:]
print("Percentage of passing student for all classes:")
print(str(round( (float(passing_all['Student ID'].count()) / float(school_data_complete['Student ID'].count()) *100),2))+"%")

Percentage of passing student for all classes:
65.17%

## School Summary

In [20]:
#Perform the necessary calculations and then create a DataFrame that summarizes key metrics about each school.
#Include the following:
#School name


group_df = school_data_complete
school_data_complete=school_data_complete.rename(columns={"school_name":"School Name","type":"School Type","size":"Total Students","budget":"Total School Budget"})



group_df=group_df.rename(columns={"school_name":"School Name","type":"School Type","size":"Total Students","budget":"Total School Budget","reading_score":"Average Reading Score","math_score":"Average Math Score"})
group_df=group_df.drop(['School ID','Student ID'], axis=1)

group_df=group_df.reindex(columns=["School Name","School Type","Total Students","Total School Budget","Per Student Budget","Average Math Score","Average Reading Score"])


#del group_df['School ID','Student ID']
group_df = group_df.groupby(["School Name"])
group_average=group_df.mean()

per_school_summary=group_average


per_school_summary["Per Student Budget"] = group_average['Total School Budget'] / group_average['Total Students']
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].astype(float).map("${:,.2f}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].astype(float).map("${:,.2f}".format)


pasing_math=school_data_complete.loc[school_data_complete['math_score']>=70, : ]
pasing_reading=school_data_complete.loc[school_data_complete['reading_score']>=70, : ]
pasing_math_count=pasing_math["School Name"].value_counts()
pasing_reading_count=pasing_reading["School Name"].value_counts()


pasing_math_count=pd.DataFrame(pasing_math_count)
per_school_summary["passing math"]=pasing_math_count

pasing_reading_count=pd.DataFrame(pasing_reading_count)
per_school_summary["passing reading"]=pasing_reading_count

pass_all=school_data_complete.loc[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70),:]
pass_all=pass_all["School Name"].value_counts()
pass_all=pd.DataFrame(pass_all)
per_school_summary["Passing Overall"]=pass_all

#school_data_complete = pd.concat([school_data_complete, pasing_math_count], ignore_index=True)
#school_data_complete["School Name"].value_counts()
per_school_summary["Passing Rate Math"]=(per_school_summary["passing math"]/per_school_summary["Total Students"])*100
per_school_summary["Passing Rate Reading"]=(per_school_summary["passing reading"]/per_school_summary["Total Students"])*100
per_school_summary["Passing Rate Overall"]=(per_school_summary["Passing Overall"]/per_school_summary["Total Students"])*100


per_school_summary["Passing Rate Reading"] = per_school_summary["Passing Rate Reading"].astype(float).map("{:,.2f}%".format)
per_school_summary["Passing Rate Math"] = per_school_summary["Passing Rate Math"].astype(float).map("{:,.2f}%".format)
per_school_summary["Passing Rate Overall"] = per_school_summary["Passing Rate Overall"].astype(float).map("{:,.2f}%".format)


#per_school_summary=pasing_math_count
per_school_summary

#school_summary_df

C:\Users\Leo\AppData\Local\Temp\ipykernel_41884\1202823505.py:19: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group_average=group_df.mean()

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,passing math,passing reading,Passing Overall,Passing Rate Math,Passing Rate Reading,Passing Rate Overall
School Name,,,,,,,,,,,
Bailey High School,4976.0,"$3,124,928.00",$628.00,77.048432,81.033963,3318,4077,2719,66.68%,81.93%,54.64%
Cabrera High School,1858.0,"$1,081,356.00",$582.00,83.061895,83.975780,1749,1803,1697,94.13%,97.04%,91.33%
Figueroa High School,2949.0,"$1,884,411.00",$639.00,76.711767,81.158020,1946,2381,1569,65.99%,80.74%,53.20%
Ford High School,2739.0,"$1,763,916.00",$644.00,77.102592,80.746258,1871,2172,1487,68.31%,79.30%,54.29%
Griffin High School,1468.0,"$917,500.00",$625.00,83.351499,83.816757,1371,1426,1330,93.39%,97.14%,90.60%
Hernandez High School,4635.0,"$3,022,020.00",$652.00,77.289752,80.934412,3094,3748,2481,66.75%,80.86%,53.53%
Holden High School,427.0,"$248,087.00",$581.00,83.803279,83.814988,395,411,381,92.51%,96.25%,89.23%
Huang High School,2917.0,"$1,910,635.00",$655.00,76.629414,81.182722,1916,2372,1561,65.68%,81.32%,53.51%
Johnson High School,4761.0,"$3,094,650.00",$650.00,77.072464,80.966394,3145,3867,2549,66.06%,81.22%,53.54%
Pena High School,962.0,"$585,858.00",$609.00,83.839917,84.044699,910,923,871,94.59%,95.95%,90.54%
Rodriguez High School,3999.0,"$2,547,363.00",$637.00,76.842711,80.744686,2654,3208,2119,66.37%,80.22%,52.99%
Shelton High School,1761.0,"$1,056,600.00",$600.00,83.359455,83.725724,1653,1688,1583,93.87%,95.85%,89.89%
Thomas High School,1635.0,"$1,043,130.00",$638.00,83.418349,83.848930,1525,1591,1487,93.27%,97.31%,90.95%
Wilson High School,2283.0,"$1,319,574.00",$578.00,83.274201,83.989488,2143,2204,2068,93.87%,96.54%,90.58%
Wright High School,1800.0,"$1,049,400.00",$583.00,83.682222,83.955000,1680,1739,1626,93.33%,96.61%,90.33%